*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__

venv
.idea/*

datasets/*/*/*.pickle
data/dataset/*.pickle
data/splitted/*.pickle

hash/*
results/**
!results/*/
!results/*/*
checkpoints/*
parameters/*

models/PassGPT/tokenizer/*

script/metrics/utils/*.txt

.DS_Store
.vscode/
